p{
    background-color: rgb(245, 137, 155);
    font-family: Verdana, 'Dejavu Sans',sans-serif;
}
p.cooler{
    font-size: 24px;
}
#bluetext{
    color:blue;
    font-size : 36px;
}
#green{
    background-color: rgb(98, 248, 98);
    font-size : 24px;
    font-weight: bold;
    
}